@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

/* Whole Website Styling*/
* {
  font-family: "Josefin Sans", sans-serif !important;
}

body {
  margin: 0;
}

.tox-tinymce {
  border: 2px solid #d1d1d1 !important;
}
