<html style="margin: 0; padding: 0">
  <head>
    <title>Social Coin</title>
    <style>
      body { font-family: arial; } .logo { position: absolute; top: 1.5rem;
      left: 4rem; height: 120px; width: auto; } .main { box-sizing: border-box;
      background: #e2f5ee; position: relative; padding: 10rem 3rem; width: 100%;
      } .box { text-align: left; margin: auto; background: #fff; padding: 2rem;
      } .name { font-size: 1.1rem; color: #003443; } .text1 { font-weight: 400;
      font-size: 0.7rem; margin-bottom: 1.6rem; } .text3 { font-size: 0.5rem;
      font-weight: 300; color: #999; padding-top: 1.5rem; } .otp { text-align:
      center; margin-bottom: 1.6rem; font-weight: 500; letter-spacing: 1rem;
      color: #00455b; } .icons { width: 100%; text-align: center; margin-top:
      1.5rem; } .social { height: 20px; width: auto; padding: 10px; } .footer {
      text-align: center; color: #9b9494; font-size: 0.55rem; margin-top:
      0.6rem; } .link { color: #9b9494; font-size: 0.5rem; text-decoration:
      none; padding-right: 0.3rem; } .address { margin-top: 1rem; font-size:
      0.45rem; line-height: 12px; } @media (min-width: 599px) { .box { width:
      600px; padding: 3rem; } .logo { position: absolute; top: 1rem; left:
      20rem; } .name { font-size: 1.4rem; } .text1 { font-size: 0.9rem; } .text3
      { font-size: 0.75rem; } .footer { font-size: 0.7rem; } .link { font-size:
      0.65rem; } .address { margin-top: 1.4rem; font-size: 0.6rem; } }
    </style>
  </head>

  <body style="margin: 0; padding: 0">
    <div class="main">
      <img src="../public/logo.png" alt="" class="logo" />
      <div class="box">
        <h2 class="name">Hi {{name}},</h2>
        <div class="text1">
          {{user}}
          replied on
          {{appreciation}}.
          <br />
        </div>
        <p class="text3">"{{comment}}"</p>
      </div>
    </div>
  </body>
</html>